@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:100,700|IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 0;
  outline: 0;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  
  
}

a:hover {
  text-decoration: none !important;
  color: white;
}

*:focus {
  outline: 0 !important;
}

a:hover {
  list-style: none !important;
}

body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
}

/* btn */

.button {
  font-family: 'Roboto', sans-serif;
  min-width: 160px;
  padding: 16px 30px;
  box-shadow: inset 0px 0px 0px 1px #595bbd;
  border: 0;
  background-color: white;
  color: #595bbd;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  position: relative;
  letter-spacing: 1.5px;
  cursor: pointer;
  margin: auto;
  display: block;
  margin-top: 40px;
}

.button:focus {
  outline: none;
}

.button:before {
  width: 100%;
  height: 100%;
  background-color: #595bbd;
  position: absolute;
  content: '';
  z-index: -1;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
  transform: translate(6px, 6px);
}

.button:hover:before {
  transform: translate(0px, 0px);
}

.link {
  position: relative;
  font-weight: 600;
}

.link:before,
.link:after {
  transition: all 0.4s ease;
  content: '';
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, #cc86c1, #eecee9);
  position: absolute;
  z-index: -1;
  bottom: -1px;
  right: 0;
  transition: all 0.4s ease;
}

.link:after {
  left: 0;
  width: 0;
  transition-delay: 0.2s;
}

.link:hover:before {
  width: 0%;
}

.link:hover:after {
  width: 100%;
}

.wrapper {
  width: 100%;
  font-family: 'Barlow', sans-serif;
  letter-spacing: 0.8px;
  margin: 0 auto;
}

nav {
  user-select: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  z-index: 2;
  transition: all 0.4s ease;
  padding: 0 40px;
  position: fixed;
}

nav.fixed {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 799px) {
  nav.fixed {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 799px) {
  nav {
    height: 60px;
    position: fixed;
    justify-content: space-between;
    padding: 0 5px;
  }
}

nav .mainLogo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .mainLogo img {
  width: 85px;
}

nav .mainLogo.fixLogo {
  color: #2d3858;
}

@media screen and (max-width: 799px) {
  nav .mainLogo {
    color: white;
    width: auto;
    font-size: 28px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

nav .menu {
  display: flex;
  align-items: center;
}

nav .menulinks {
  display: flex;
  width: 100%;
  align-items: center;
}

@media screen and (max-width: 799px) {
  nav .menulinks {
    display: none;
  }
}

nav .menuLink {
  font-family: 'Barlow', sans-serif;
  box-sizing: initial;
  color: #595bbd;
  letter-spacing: 1px;
  font-size: 17px;
  margin-left: 30px;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.4s ease;
  padding: 2px 4px;
  position: relative;
}

nav .menuLink.home {
  color: white;
}
nav .menuLink.home:hover {
  color: white !important;
}

nav .menuLink.home.fixedLink:hover {
  color: #595bbd!important;
}

nav .menuLink.fixedLink {
  color: #5d698d;
}

nav .menuLink:first-child {
  margin-left: 15px;
}

nav .menuLink:before {
  content: '';
  position: absolute;
  background-color: #595bbd;
  width: 0px;
  height: 2px;
  border-radius: 2%;
  bottom: -2px;
  transition: all 0.3s ease;
}
nav .menuLink.home:before {
  content: '';
  position: absolute;
  background-color: white;
  width: 0px;
  height: 2px;
  border-radius: 2%;
  bottom: -2px;
  transition: all 0.3s ease;
}

nav .menuLink.fixedLink:before {
  background-color: #bdbdbd;
}

nav .menuLink.fixedLink {
  color: #5d698d !important;
}


nav .menuLink:hover:before {
  width: 100%;
  left: calc(100% - 100%);
}

nav .menuLink:hover:before {
  color: white;
}

nav .menuLink.active:before {
  background-color: #bdbdbd;
  width: 100%;
  left: calc(100% - 100%);
}

nav .menuLink:hover {
  color: #595bbd !important;
  text-decoration: none;
}

nav .menuLink.active {
  color: #9b3dda;
}

nav .iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .shoppingCart {
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
}

@media screen and (max-width: 512px) {
  nav .shoppingCart {
    margin-right: 15px;
    background-color: transparent;
  }
}

nav .profile {
  min-width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 799px) {
  nav .profile {
    margin-right: 15px;
  }
}

nav .profile img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

nav .itemNumber {
  font-family: 'Barlow', sans-serif;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fd6561;
  border-radius: 100%;
  font-weight: bold;
  font-size: 12px;
  color: white;
  position: absolute;
  top: -2px;
  right: -3px;
  transform: translate(0, 0);
}

@media screen and (max-width: 799px) {
  nav .itemNumber {
    top: -3px;
    right: -3px;
  }
}

nav .iconMenu {
  width: 48px;
  height: 48px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 799px) {
  nav .iconMenu {
    display: flex;
  }
}

.mainNav__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

@media screen and (max-width: 799px) {
  .mainNav__input {
    margin-right: 15px;
  }
}

.mainNav__input input {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  width: 100%;
  padding-left: 10px;
  padding-right: 30px;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.9);
  height: 35px;
}

.mainNav__input input:focus {
  box-shadow: 0px 7px 20px rgba(255, 255, 255, 0.5);
}

.mainNav__input input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background-image: url('../assets/icon-cancel.svg');
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.mainNav__input input::-webkit-search-cancel-button:hover {
  transform: rotate(90deg);
}

.mainNav__btnSearch {
  position: absolute;
  right: 10px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.mainNav__btnSearch img {
  width: 16px;
  height: 16px;
  margin-top: -4px;
}

.mainNav__btnSearch:hover {
  transform: scale(1.02);
  opacity: 0.6;
}

/* swiper slider */

.swiper-container {
  padding: 0;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .swiper-container {
    height: 500px;
  }
}

.swiper-slide {
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* .swiper-slide:after {
    content: '';
    background-image: linear-gradient(0deg, black, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1));
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
    opacity: 0.3;
}

.swiper-slide:before {
    content: '';
    background-color: rgba(69, 69, 78, 0.2);
    background-image: linear-gradient(180deg, rgba(255, 234, 213, 0.3), rgba(241, 244, 255, 0.3));
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
} */

/* swiper arrows */

.swiper-button-prev,
.swiper-button-next {
  width: 50px;
  height: 50px;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev {
  left: 30px;
}

.swiper-button-next {
  right: 30px;
}

.swiper-button-prev span,
.swiper-button-next span {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  border: solid 2px white;
  border-left: 0;
  border-bottom: 0;
  transition: all 0.3s ease;
}

.swiper-button-prev span {
  transform: rotate(-135deg);
  left: 50%;
}

.swiper-button-next span {
  transform: rotate(45deg);
  right: 50%;
}

.swiper-button-prev span:after,
.swiper-button-next span:after {
  content: '';
  position: absolute;
  background-color: white;
  width: 0px;
  height: 2px;
  transition: all 0.3s ease;
  transform: rotate(-45deg);
}

.swiper-button-prev:hover span {
  left: 30%;
}

.swiper-button-next:hover span {
  right: 30%;
}

.swiper-button-prev:hover span:after,
.swiper-button-next:hover span:after {
  width: calc(20px - 4px);
}

/* swiper arrows mobile */

@media screen and (max-width: 768px) {
  .swiper-button-prev {
    left: 0px;
  }

  .swiper-button-next {
    right: 0px;
  }

  .swiper-button-prev:hover span {
    left: 50%;
  }

  .swiper-button-next:hover span {
    right: 50%;
  }

  .swiper-button-prev:hover span:after,
  .swiper-button-next:hover span:after {
    display: none;
  }
}

/* swiper pagination */

.swiper-pagination {
  height: 40px;
}

.swiper-pagination-bullet {
  background-color: transparent;
  border: solid 1px white;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  box-sizing: initial;
}

.swiper-pagination-bullet:hover {
  background-color: white;
}

.swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  left: 0;
  background-color: transparent;
  border: solid 1px white;
}

/* text content */

.slide-text {
  text-align: center;
  color: white;
  opacity: 1;
  z-index: 2;
  font-family: 'IBM Plex Sans', sans-serif;
  width: 80%;
  max-width: 500px;
}

.slide-text h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 30px;
  letter-spacing: 0.03em;
  margin: 20.1px 0px;
}

.slide-text p {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  margin: 16px 0px;
}

/* text mobile */

@media screen and (max-width: 799px) {
  .slide-text {
    width: 60%;
  }

  .slide-text h1 {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin: 13.4px 0px;
  }

  .slide-text p {
    font-size: 14px;
    margin: 14px 0px;
  }
}

/* button */

.slide-text .btn {
  font-family: 'IBM Plex Mono', monospace;
  background-color: transparent;
  border: solid 1px white;
  padding: 15px 30px;
  min-width: 100px;
  width: fit-content;
  font-size: 14px;
  letter-spacing: 2px;
  color: white;
  position: relative;
  border-radius: 80px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 20px;
}

.slide-text .btn:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
  border-radius: inherit;
  transition: all 0.3s ease-in-out;
}

.slide-text .btn:hover::after {
  left: 4px;
  top: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slide-text .btn:hover {
  font-weight: 800;
}

@media screen and (max-width: 768px) {
  .slide-text .btn:hover::after {
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

button:focus {
  outline: 0;
}

/* card */

.wrapperCard {
  padding-top: 20px;
  padding-bottom: 40px;
}

.section__title {
  font-family: 'Barlow', sans-serif;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  height: 72px;
  margin: 24px 0 20px 0;
  font-weight: 900;
  font-size: 36px;
  color: #595bbd;
  letter-spacing: 0.04em;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}

@media screen and (max-width: 799px) {
  .section__title {
    font-size: 32px;
    height: 100px;
  }
}

.section__title span {
  font-family: 'Roboto', sans-serif;
  margin: 0 10px;
}

.section__title b {
  margin: 0 10px;
  color: transparent;
  -webkit-text-stroke: 1px #595bbd;
  font-weight: 900;
}

.section__title:before {
  content: '';
  position: absolute;
  height: 8px;
  width: 100px;
  background-color: rgb(110, 117, 163);
  bottom: 0px;
}

@media screen and (max-width: 799px) {
  .section__title:before {
    height: 35px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  background-color: #f7f8fc;
  padding: 40px;
  position: relative;
}

@media screen and (max-width: 799px) {
  .cards {
    grid-gap: 10px;
  }
}
.cards:before {
  content: '';
  position: absolute;
  height: 25px;
  width: 4px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1023px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 799px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 10px 40px 10px;
  }
}

@media screen and (max-width: 320px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 40px 10px 40px 10px;
  }
}

.new,.sale {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  position: absolute;
  left: 12px;
  top: 12px;
  color: white;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
}
.new{
    background: linear-gradient(90deg, #7f69ce 0%, #595bbd 100%);

}
.sale{
    background: linear-gradient(90deg, #69cec2 0%, #41bbac 100%);
}


.card {
  padding: 5px;
  background-color: white;
  overflow: hidden;
  border-bottom: solid 1px #595bbd;
  border-radius: 2px;
  position: relative;
}

.card.anime {
  animation: itemsFade 1s ease backwards;
}

@keyframes itemsFade {
  0% {
    opacity: 0;
    transform: translateY(160px);
  }

  20% {
    opacity: 0;
  }
}

.card__image {
  width: 100%;
  height: 360px;
}

.card__image img {
  border-radius: 2px;
  width: 100%;

}

@media screen and (max-width: 512px) {
  .card__image {
    height: 220px;
  }

  .card__image img {
    height: 220px;
  }
}

.card__content {
  position: absolute;
  bottom: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0 10px;
}

.card__title {
  margin-top: 5px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 22px;
  color: #56585a;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.4s ease;
  cursor: text;
}

.card__title:hover {
  overflow: visible;
  white-space: inherit;
  word-wrap: break-word;
}

.card__price {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card__price p {
  margin-top: 2px;
  color: #595bbd;
}

.card__price .card__priceOriginal {
  margin-left: 5px;
  opacity: 0.5;
}

.card__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__detail {
  font-family: 'Arial';
  text-transform: uppercase;
  color: #595bbd;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 400px) {
  .card__detail {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .card__detail {
    width: 100%;
    font-size: 12px;
  }
}

.card__detail span {
  font-family: 'Arial';
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 100%;
  border: solid 1px #595bbd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  letter-spacing: 0;
  transition: all 0.4s ease;
}

.card__detail span:hover {
  transform: rotate(90deg);
}

.card__icon .btn {
  border: 0;
  height: 40px;
  width: 40%;
  background: linear-gradient(90deg, #595bbd 0%, #595bbd 100%);
  box-shadow: 0px 0px 0px 1px #595bbd;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.15em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 799px) {
  .card__icon .btn {
    height: 38px;
    width: 80px;
  }
}

@media screen and (max-width: 320px) {
  .card__icon .btn {
    height: 38px;
    width: 100%;
  }
}

.card__icon .btn:before,
.card__icon .btn:after {
  width: 0%;
  height: 0%;
  content: '';
  position: absolute;
  border-radius: 100%;
}

.card__icon .btn:after {
  transition: all 0.5s ease;
  background-color: white;
}

.card__icon .btn:before {
  transition: all 0.5s ease-out;
  background-color: #595bbd;
}

.card__icon .btn span {
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.card__icon .btn:hover {
  color: #595bbd;
}

.card__icon .btn:hover:before,
.card__icon .btn:hover:after {
  width: 200px;
  height: 200px;
  border-radius: 4px;
}

.card__icon .btn:hover:after {
  transition: all 0.7s ease-in;
}

.card__icon .btn:hover:before {
  transition: all 0.5s ease-in;
}

/* back to top */

#scrollme {
  margin: 0 auto;
  height: 50px;
  cursor: pointer;
  width: 120px;
}

#scrollme .backtop {
  position: relative;
  color: #595bbd;
}

#scrollme .backtop p {
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.6s ease;
  color: #595bbd;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  opacity: 0;
  transform: translateY(10px);
}

#scrollme .backtop .arrow-top:before,
#scrollme .backtop .arrow-top:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  top: 20px;
  left: calc(50% - 10px);
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  background-color: #595bbd;
  opacity: 1;
}

@media (max-width: 799px) {
  #scrollme .backtop .arrow-top:before,
  #scrollme .backtop .arrow-top:after {
    width: 15px;
  }
}

#scrollme .backtop .arrow-top:before {
  transform: rotate(45deg);
  margin-left: 6px;
}

@media (max-width: 799px) {
  #scrollme .backtop .arrow-top:before {
    margin-left: 5px;
  }
}

#scrollme .backtop .arrow-top:after {
  transform: rotate(-45deg);
  margin-left: -7px;
}

@media (max-width: 799px) {
  #scrollme .backtop .arrow-top:after {
    margin-left: -5px;
  }
}

#scrollme:hover .backtop p {
  opacity: 1;
  transform: translateY(0px);
  font-size: 12px;
}

@media (max-width: 799px) {
  #scrollme:hover .backtop p {
    display: none;
  }
}

#scrollme:hover .backtop .arrow-top:before,
#scrollme:hover .backtop .arrow-top:after {
  top: 22px;
  width: 20px;
}

@media (max-width: 799px) {
  #scrollme:hover .backtop .arrow-top:before,
  #scrollme:hover .backtop .arrow-top:after {
    top: 20px;
  }
}

#scrollme:hover .backtop .arrow-top:before {
  left: calc(50% - 5px);
  transform: rotate(180deg);
}

@media (max-width: 799px) {
  #scrollme:hover .backtop .arrow-top:before {
    left: calc(50% - 10px);
    transform: rotate(45deg);
    width: 15px;
    margin-left: 5px;
  }
}

#scrollme:hover .backtop .arrow-top:after {
  right: calc(50% - 5px);
  transform: rotate(-180deg);
}

@media (max-width: 799px) {
  #scrollme:hover .backtop .arrow-top:after {
    right: calc(50% - 10px);
    transform: rotate(-45deg);
    width: 15px;
    margin-left: -5px;
  }
}

/* Footer */

.footer {
  font-family: 'Barlow', sans-serif;
  letter-spacing: initial;
  width: 100%;
  height: 80px;
  bottom: 0;
  background-color: #15161782;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
  transition: all 0.4s ease;
}

@media screen and (max-width: 799px) {
  .footer {
    height: 120px;
    flex-direction: column;
  }
}

.footer__text {
  opacity: 0.75;
}

@media screen and (max-width: 799px) {
  .footer__text {
    margin-bottom: 24px;
  }
}

.footer__icons {
  display: flex;
}

.footer__icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-right: 24px;
  cursor: pointer;
  position: relative;
  transition: all 0.4s ease;
}

.footer__icon p {
  position: absolute;
  opacity: 0;
  user-select: none;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__icon:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: linear-gradient(45deg, #cc86c1, #eecee9);
  opacity: 1;
  border-radius: 100%;
  top: -8px;
  opacity: 0;
  transition: all 0.4s ease;
}

.footer__icon span {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.footer__icon.linkedin span {
  background-image: url('../assets/icon-linkedin.svg');
}

.footer__icon.dribbble span {
  background-image: url('../assets/icon-dribbble.svg');
}

.footer__icon.codepen span {
  background-image: url('../assets/icon-codepen.svg');
}

.footer__icon:hover {
  opacity: 1;
  transform: translateY(4px);
}

.footer__icon:hover span {
  opacity: 1;
}

.footer__icon:hover:before {
  opacity: 1;
}

/* mobile menu */

.noscroll {
  overflow: hidden;
}

.menu-link {
  width: auto;
  padding: 0px 13px;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.5px;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;
  color: #5d698d;
  text-rendering: optimizeLegibility;
  width: fit-content;
}

@media screen and (max-width: 767px) {
  .menu-link {
    margin-right: 0;
    font-size: 18px;
    margin-bottom: 60px;
  }

  .menu-link:last-of-type {
    margin-bottom: 0;
  }
}

.menu-link:last-of-type {
  margin-bottom: 0;
}

.menu-link:before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #595bbd;
  position: absolute;
  bottom: -2px;
  z-index: -1;
  transition: all 0.4s ease;
  left: 0;
  top: 0;
}

.menu-link:hover:before {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .menu-link:hover:before {
    width: 100%;
  }
}

.menu-icon {
  min-width: 40px;
  height: 40px;
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .menu-icon {
    display: block;
  }
}

.menu-icon span {
  content: '';
  height: 2px;
  width: 25px;
  background-color: #595bbd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 1000px;
  transition: all 0.3s ease;
}

.menu-icon span:after,
.menu-icon span:before {
  background-color: #595bbd;
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 300px;
  transition: all 0.3s ease;
}

.menu-icon span:before {
  top: -8px;
  transition: all 0.3s 0.1s ease;
}

.menu-icon span:after {
  bottom: -8px;
}

.menu-icon:hover span:before {
  width: 80%;
  transition: all 0.3s 0.1s ease;
}

.menu-icon:hover span:after {
  width: 80%;
  bottom: -8px;
}

.menu-mobile {
  height: 100vh;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  width: 80%;
  z-index: 3;
  right: -100%;
}

@media screen and (min-width: 768px) {
  .main-nav .menu-mobile {
    display: none;
  }
}

.main-nav .menu-mobile a {
  z-index: 2;
}

.menu-mobile .menu-items {
  width: fit-content;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-mobile .menu-items .menu-link {
  z-index: 3;
  left: 30%;
}

.menu-mobile .menu-items .menu-link.anime-menu-items {
  animation: menu-items 1s ease forwards;
  opacity: 0;
}

.menu-mobile .menu-items .menu-link.anime-menu-items:nth-child(1) {
  opacity: 0;
  animation-delay: 0.4s;
}

.menu-mobile .menu-items .menu-link.anime-menu-items:nth-child(2) {
  opacity: 0;
  animation-delay: 0.6s;
}

.menu-mobile .menu-items .menu-link.anime-menu-items:nth-child(3) {
  opacity: 0;
  animation-delay: 0.8s;
}

.menu-mobile .menu-items .menu-link.anime-menu-items:nth-child(4) {
  opacity: 0;
  animation-delay: 1s;
}

.menu-mobile .menu-items .menu-link.anime-menu-items:nth-child(5) {
  opacity: 0;
  animation-delay: 1.2s;
}

@keyframes menu-items {
  0% {
    opacity: 0;
    left: 30%;
  }

  100% {
    opacity: 1;
    left: 0;
  }
}

.menu-mobile .menu-items .menu-link.active {
  color: #595bbd;
}

.menu-mobile .menu-icon {
  right: 3%;
  top: 13px;
  position: absolute;
}

.menu-mobile .menu-icon.close {
  opacity: 1 !important;
}

.menu-mobile .menu-icon.close span {
  background-color: transparent;
}

.menu-mobile .menu-icon.close span:before {
  top: 0;
  transform: rotate(45deg);
  background-color: #595bbd;
}

.menu-mobile .menu-icon.close span:after {
  top: 0;
  transform: rotate(-45deg);
  background-color: #595bbd;
}

.menu-mobile .menu-icon.close:hover span:before,
.menu-mobile .menu-icon.close:hover span:after {
  top: 0;
  transform: rotate(0);
}

.menu-mobile.open-menu {
  position: fixed;
  background-color: rgba(155, 61, 218, 0.8);
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  display: flex;
  z-index: 4;
  width: 80%;
  height: 100vh;
  overflow-y: auto;
  box-shadow: 0 0 0 200px rgb(0, 0, 0, 0.3);
  animation: openMenu 2s ease forwards;
}

@keyframes openMenu {
  0% {
    right: -100%;
    width: 0;
  }

  40% {
    right: 0;
    width: 85%;
  }

  100% {
    width: 80%;
    right: 0;
  }
}

.menu-mobile.open-menu:before {
  content: '';
  display: inline-block;
  width: 120%;
  height: 100%;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  animation: openMenu 2s 0.2s ease forwards;
}

.menu-mobile.close-menu {
  animation: closeMenu 1.8s ease forwards;
  z-index: 4;
}

@keyframes closeMenu {
  0% {
    right: 0;
    width: 80%;
  }

  30% {
    right: 0;
    width: 90%;
  }

  100% {
    width: 0%;
    right: -100%;
  }
}
.breadcrumb {
  margin-top: 100px;
}
.container{
    width: 1200px;

}

.wrapperCard {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}